<!-- Projects Section -->
<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0">
                <span class="d-inline" style="color: #3C3C3C;">Portfolio</span>
            </h1>
        </div>
        <div class="row g-4">
            <!-- Project Card 1 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card h-100 shadow border-0 rounded-4">
                    <img class="card-img-top rounded-top-4" src="assets/projet1.jpg" alt="Image du projet 1" />
                    <div class="card-body p-4">
                        <div class="card-content">
                            <h2 class="card-title h4 fw-bolder mb-3">ALL COMMUNITIES DAY</h2>
                            <p class="card-text text-muted">
                                Une journée spéciale dédiée à célébrer la diversité culturelle et l'unité entre les
                                communautés. Rejoignez-nous pour une expérience enrichissante mêlant échanges
                                culturels, activités interactives, spectacles artistiques et discussions
                                inspirantes.
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-0 p-0 mt-4">
                            <a href="https://wa.me/22891548096" target="_blank" class="btn btn-outline-dark w-100">
                                En savoir plus
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Card 2 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card h-100 shadow border-0 rounded-4">
                    <img class="card-img-top rounded-top-4" src="assets/holiday.jpg" alt="Image du projet 2" />
                    <div class="card-body p-4">
                        <div class="card-content">
                            <h2 class="card-title h4 fw-bolder mb-3">MUSIC TRAINER</h2>
                            <p class="card-text text-muted">
                                Plongez dans l'univers de la musique avec notre formation complète.
                                Apprenez à jouer d'un instrument,
                                développez votre oreille musicale et maîtrisez les bases de la composition.
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-0 p-0 mt-4">
                            <a href="https://wa.me/22891548096" target="_blank" class="btn btn-outline-dark w-100">
                                En savoir plus
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Card 3 -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card h-100 shadow border-0 rounded-4">
                    <img class="card-img-top rounded-top-4" src="assets/aurore-consulting.jpg" alt="Image du projet 3" />
                    <div class="card-body p-4">
                        <div class="card-content">
                            <h2 class="card-title h4 fw-bolder mb-3">AURORE CONSULTING</h2>
                            <p class="card-text text-muted">
                                Transformez vos idées en événements mémorables avec notre
                                expertise en organisation et planification.
                                Mariages, séminaires, anniversaires ou événements
                                professionnels.
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-0 p-0 mt-4">
                            <a href="https://wa.me/22891548096" target="_blank" class="btn btn-outline-dark w-100">
                                En savoir plus
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Section -->
        <section class="mt-5">
            <div class="d-flex justify-content-center fs-2 gap-4">
                <button class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder">
                    <a class="d-inline" href="https://wa.me/22891548096" target="_blank"
                        style="color: #3C3C3C; text-decoration: none;">
                        <span class="bi bi-whatsapp"></span> Commander un visuel
                    </a>
                </button>
            </div>
        </section>
    </div>
</section>
