<!-- Page Content-->
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0">
            <span class="d-inline" style="color: #3C3C3C;">Portfolio</span>
        </h1>
    </div>
    <div class="row g-4">
        <!-- Card 1 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100 shadow border-0 rounded-4">
                <img class="card-img-top rounded-top-4" src="assets/panneau-d'affichage.jpg" alt="Panneau-d'affichage" />
                <div class="card-body p-4">
                    <h2 class="card-title h4 fw-bolder mb-2">PANNEAU D'AFFICHAGE</h2>
                    <p class="card-text text-muted mb-3">ARTW2024</p>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100 shadow border-0 rounded-4">
                <img class="card-img-top rounded-top-4" src="assets/spot-publicitaire.jpg" alt="Spot-publicitaire" />
                <div class="card-body p-4">
                    <h2 class="card-title h4 fw-bolder mb-2">SPOT PUBLICITAIRE</h2>
                    <p class="card-text text-muted mb-3">ARTW2024</p>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100 shadow border-0 rounded-4">
                <img class="card-img-top rounded-top-4" src="assets/flyers.jpg" alt="Flyers" />
                <div class="card-body p-4">
                    <h2 class="card-title h4 fw-bolder mb-2">FLYERS</h2>
                    <p class="card-text text-muted mb-3">ARTW2024</p>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100 shadow border-0 rounded-4">
                <img class="card-img-top rounded-top-4" src="assets/artwork-illustration.jpg" alt="Artwork-illustration" />
                <div class="card-body p-4">
                    <h2 class="card-title h4 fw-bolder mb-2">ARTWORK ILLUSTRATION</h2>
                    <p class="card-text text-muted mb-3">ARTW2024</p>
                </div>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100 shadow border-0 rounded-4">
                <img class="card-img-top rounded-top-4" src="assets/kakemono.jpg" alt="Kakemono" />
                <div class="card-body p-4">
                    <h2 class="card-title h4 fw-bolder mb-2">KAKEMONO</h2>
                    <p class="card-text text-muted mb-3">ARTW2024</p>
                </div>
            </div>
        </div>

        <!-- Card 6 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100 shadow border-0 rounded-4">
                <img class="card-img-top rounded-top-4" src="assets/logo.jpg" alt="Logo" />
                <div class="card-body p-4">
                    <h2 class="card-title h4 fw-bolder mb-2">LOGO</h2>
                    <p class="card-text text-muted mb-3">ARTW2024</p>
                </div>
            </div>
        </div>

        <!-- Card 7 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100 shadow border-0 rounded-4">
                <img class="card-img-top rounded-top-4" src="assets/affiche-commercial.jpg" alt="Affiche-commercial" />
                <div class="card-body p-4">
                    <h2 class="card-title h4 fw-bolder mb-2">AFFICHE COMMERCIAL</h2>
                    <p class="card-text text-muted mb-3">ARTW2024</p>
                </div>
            </div>
        </div>

        <!-- Card 8 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100 shadow border-0 rounded-4">
                <img class="card-img-top rounded-top-4" src="assets/covers.jpg" alt="Covers" />
                <div class="card-body p-4">
                    <h2 class="card-title h4 fw-bolder mb-2">COVERS</h2>
                    <p class="card-text text-muted mb-3">ARTW2024</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Section-->
    <section class="mt-5">
        <div class="d-flex justify-content-center fs-2 gap-4">
            <button class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder">
                <a class="d-inline" href="https://wa.me/22891548096" target="_blank"
                    style="color: #3C3C3C; text-decoration: none;">
                    <span class="bi bi-whatsapp"></span> Commander un visuel
                </a>
            </button>
        </div>
    </section>
</div>
